# **Interpolasi**

**Lagrange**

In [1]:
# Memakai library numpy
import numpy as np

n = int(input('Masukkan jumlah titik data: ')) # Input titik 

# Buat matriks n x n
x = np.zeros((n)) # x = koefisien
y = np.zeros((n)) # y = hasil

# Koefisien dan hasil dimasukkan
print('Masukkan x dan y: ')
for i in range(n):
    x[i] = float(input( 'x['+str(i)+']='))
    y[i] = float(input( 'y['+str(i)+']='))

# Memasukkan titik yang dicari
xp = float(input('Enter interpolation point: '))
yp = 0 # Membuat hasil awal (yp) menjadi 0

# Pengimplementasian
for i in range(n):
    
    p = 1
    
    for j in range(n):
        if i != j:
            p = p * (xp - x[j])/(x[i] - x[j])
    
    yp = yp + p * y[i]    

print('Interpolated value at %.3f is %.3f.' % (xp, yp))

Masukkan jumlah titik data: 2
Masukkan x dan y:
x[0]=1
y[0]=3
x[1]=2
y[1]=4
Enter interpolation point: 2
Interpolated value at 2.000 is 4.000.

**Polinom Newton**

In [4]:
n = int(input('Masukkan titik: ')) # Titik yang diketahui

# Buat array n x n
x = np.zeros((n))
y = np.zeros((n,n))


# Data yang dimasukkan dibaca oleh program
print('Masukkan x dan y: ')
for i in range(n):
    x[i] = float(input( 'x['+str(i)+']='))
    y[i][0] = float(input( 'y['+str(i)+']='))
    
# Untuk membuat tabel
for i in range(1,n):
    for j in range(0,n-i):
        y[j][i] = y[j+1][i-1] - y[j][i-1]

        
print('\nTABEL\n');

for i in range(0,n):
    print('%0.2f' %(x[i]), end='')
    for j in range(0, n-i):
        print('\t\t%0.2f' %(y[i][j]), end='')
    print()

Masukkan titik: 3
Masukkan x dan y:
x[0]=2
y[0]=4
x[1]=1
y[1]=3
x[2]=2
y[2]=1

TABEL

2.00		4.00		-1.00		-1.00
1.00		3.00		-2.00
2.00		1.00